body {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  background-color: rgb(230, 238, 242);
}

/* フロートウィンドウの初期設定値 */
#_float_window {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  position: absolute;
  overflow: hidden;
  height: 200px;
  width: 400px;
  margin: auto;
  border: solid 1px rgb(0, 0, 0);
  cursor: move;
  display: none;
  z-index: 1001;
  background-color: rgb(229, 241, 247);
}

/* ヘッダの初期設定値 */
#_header {
  height: 20%;
  width: 100%;
  cursor: move;
  text-align: center;
}

/* コンテンツの初期設定値 */
#_contents {
  height: 60%;
  width: 100%;
  cursor: move;
  text-align: center;
}

/* フッタの初期設定値 */
#_footer {
  height: 20%;
  width: 100%;
  cursor: move;
  text-align: center;
}
