html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  body: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px;
  padding: 0px;
  text-align: center;
  height: 80px;
}
.caption-content {
  margin: 0px;
  padding: 0px;
}

.contents {
  height: calc(100% - 80px);
  width: 100%;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-grid {
  /**
   * 全体の高さを指定した上で部品の高さを調整したいのでここで高さを指定する
   * (ここで高さを指定しないと grid で指定する部品によって高さが決まってしまう)
   */
  height: inherit;

  /**
   * ここから grid の定義
   */
  display: grid;
  /**
   * 上端下端を含めて 1,2,3,4,5,6,7 つのラインが引かれる
   * 各行では上端, 下端を含めて次のように指定する
   * - 上端から 1 行指定: grid-row: 1/2;
   * - 上端 2 行目から 1 行指定: grid-row: 2/3;
   * - 上端 N 行目から下端まで指定: grid-row: N/4;
   */
  grid-template-rows: 90px 80px 90px 80px 90px auto;
  /**
   * 左端右端を含めて 1,2,3,4,5,6,7 つのラインが引かれる
   * 各セルでは左端, 右端を含めて次のように指定する
   * - 左端から 1 セル指定: grid-column: 1/2;
   * - 左端 2 セル目から 1 セル指定: grid-column: 2/3;
   * - 左端 3 セル目から右端まで指定: grid-column: 3/7;
   **/
  grid-template-columns: 180px 250px 180px 250px 180px 250px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;

  background: #fffafa;
}

.content-row-top,
.content-row-middle,
.content-row-bottom {
  /**
   * display: flex; と align-items: center; で子要素を上下中央に揃える
   */
  display: flex;
  align-items: center;
  height: 100%;
}

/**
 * Grid-上段
 */
/* 上段: キャプション */
.content-row-top.row-caption {
  color: #778899;
  grid-column: 1/7;
  grid-row: 1/2;
  padding: 10px;
  border-top: solid #b0c4de;
}
/* 左-見出し, 見出し前マーク, 入力ボックス */
.content-row-top.column-left-label {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
  padding-left: 20px;
}
.content-row-top.column-left-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-top.column-left-input {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* 中央-見出し, 見出し前マーク, 入力ボックス */
.content-row-top.column-middle-label {
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  padding-left: 20px;
}
.content-row-top.column-middle-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-top.column-middle-input {
  grid-column: 4/5;
  grid-row: 2/3;
}
/* 右-見出し, 見出し前マーク, 入力ボックス */
.content-row-top.column-right-label {
  grid-column: 5/6;
  grid-row: 2/3;
  position: relative;
  padding-left: 20px;
}
.content-row-top.column-right-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-top.column-right-input {
  grid-column: 6/7;
  grid-row: 2/3;
}

/**
 * Grid-中段
 */
/* 中断: キャプション */
.content-row-middle.row-caption {
  color: #778899;
  grid-column: 1/7;
  grid-row: 3/4;
  padding: 10px;
  border-top: solid #b0c4de;
}
/* 左-見出し, 見出し前マーク, 入力ボックス */
.content-row-middle.column-left-label {
  grid-column: 1/2;
  grid-row: 4/5;
  position: relative;
  padding-left: 20px;
}
.content-row-middle.column-left-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-middle.column-left-input {
  grid-column: 2/3;
  grid-row: 4/5;
}
/* 中央-見出し, 見出し前マーク, 入力ボックス */
.content-row-middle.column-middle-label {
  grid-column: 3/4;
  grid-row: 4/5;
  position: relative;
  padding-left: 20px;
}
.content-row-middle.column-middle-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-middle.column-middle-input {
  grid-column: 4/5;
  grid-row: 4/5;
}
/* 右-見出し, 見出し前マーク, 入力ボックス */
.content-row-middle.column-right-label {
  grid-column: 5/6;
  grid-row: 4/5;
  position: relative;
  padding-left: 20px;
}
.content-row-middle.column-right-label::before {
  position: absolute;
  display: block;
  top: 25px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-middle.column-right-input {
  grid-column: 6/7;
  grid-row: 4/5;
}

/**
 * Grid-下段
 */
/* 中断: キャプション */
.content-row-bottom.row-caption {
  color: #778899;
  grid-column: 1/7;
  grid-row: 5/6;
  padding: 10px;
  border-top: solid #b0c4de;
}
/* 左-見出し, 見出し前マーク, 入力エリア */
.content-row-bottom.column-left-label {
  grid-column: 1/2;
  grid-row: 6/7;
  position: relative;
  padding-left: 20px;
}
.content-row-bottom.column-left-label::before {
  position: absolute;
  display: block;
  top: 40px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-bottom.column-left-input {
  grid-column: 2/4;
  grid-row: 6/7;
}
/* 左-見出し, 見出し前マーク, 入力エリア */
.content-row-bottom.column-right-label {
  grid-column: 4/5;
  grid-row: 6/7;
  position: relative;
  padding-left: 20px;
}
.content-row-bottom.column-right-label::before {
  position: absolute;
  display: block;
  top: 40px;
  left: 5px;
  height: 28px;
  border-left: 5px solid #ff00ff;
  content: '';
}
.content-row-bottom.column-right-input {
  grid-column: 5/7;
  grid-row: 6/7;
}

/**
 * Grid 以外のセレクタ
 */
.type-input-box {
  width: 100%;
  height: 30px;
  border: solid 1px #000000;
}

.type-textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border: solid 1px #000000;
}

