html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: calc(100% - 80px);
  margin: 0px;
  padding: 0px;
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0px;
  padding: 0px;
  text-align: center;
  height: 80px;
}
.caption-content {
  margin: 0px;
  padding: 0px;
}

.contents {
  height: inherit;
  width: inherit;
  margin: 0px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-grid {
  display: grid;
  grid-template-rows: 150px 150px auto;
  grid-template-columns: 140px 250px 140px 250px 140px 250px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.content-row-top,
.content-row-middle,
.content-row-bottom {
  display: flex;
  align-items: center;
  height: 100px;
}


/**
 * Grid-上段
 */
/* 左 */
.content-row-top.content-column-left-label {
  grid-column: 1/2;
  grid-row: 1/2;
}
.content-row-top.content-column-left-input {
  grid-column: 2/3;
  grid-row: 1/2;
}
/* 中央 */
.content-row-top.content-column-middle-label {
  grid-column: 3/4;
  grid-row: 1/2;
}
.content-row-top.content-column-middle-input {
  grid-column: 4/5;
  grid-row: 1/2;
}
/* 右 */
.content-row-top.content-column-right-label {
  grid-column: 5/6;
  grid-row: 1/2;
}
.content-row-top.content-column-right-input {
  grid-column: 6/7;
  grid-row: 1/2;
}

/**
 * Grid-中段
 */
/* 左 */
.content-row-middle.column-left-label {
  grid-column: 1/2;
  grid-row: 2/3;
}
.content-row-middle.column-left-input {
  grid-column: 2/3;
  grid-row: 2/3;
}
/* 中央 */
.content-row-middle.column-middle-label {
  grid-column: 3/4;
  grid-row: 2/3;
}
.content-row-middle.column-middle-input {
  grid-column: 4/5;
  grid-row: 2/3;
}
/* 右 */
.content-row-middle.column-right-label {
  grid-column: 5/6;
  grid-row: 2/3;
}
.content-row-middle.column-right-input {
  grid-column: 6/7;
  grid-row: 2/3;
}

/**
 * Grid-下段
 */
/* 左 */
.content-row-bottom.column-left-label {
  grid-column: 1/2;
  grid-row: 3/4;
}
.content-row-bottom.column-left-input {
  grid-column: 2/4;
  grid-row: 3/4;
}
/* 右 */
.content-row-bottom.column-right-label {
  grid-column: 4/5;
  grid-row: 3/4;
}
.content-row-bottom.column-right-input {
  grid-column: 5/7;
  grid-row: 3/4;
}

/**
 * Grid 以外のセレクタ
 */
.type-input-box {
  width: 190px;
  max-width: 190px;
  min-width: 190px;
  height: 30px;
  border: solid 1px #000000;
}

.type-textarea {
  resize: none;
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  height: inherit;
  border: solid 1px #000000;
}

